<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
    <div class="md-toolbar-tools">
        <h2 class="md-title">{{tituloTabela}}</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="filter.show = true">
            <md-icon>filter_list</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="Novo($event)">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
    <div class="md-toolbar-tools">
        <md-icon>search</md-icon>
        <form flex name="filter.form">
            <input type="text" ng-model="filter.search" ng-model-options="filter.options" placeholder="Digite a pesquisa">
            </md-input-container>
        </form>
        <md-button class="md-icon-button" ng-click="removeFilter()">
            <md-icon>close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
    <div class="md-toolbar-tools" layout-align="space-between center">
        <div>{{selected.length}} {{selected.length > 1 ? 'itens selecionados' : ' item selecionado'}}</div>
        <div>
            <md-button class="md-icon-button" ng-click="Detalhar($event)">
                <md-icon>mode_edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="Remover($event)">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>