.content{
    margin-top:30px;
}

.busca{
    margin-bottom: 50px;
}

.card{
    margin-top:30px;
}


md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
    color: #1e88e5;
    font-size: 16px;
    background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin: 0;
    border: none;
    color: rgba(0, 0, 0, 0.87);
  }

  md-toolbar.md-table-toolbar form > input:focus {
    outline: none;
  }

  md-input-container {
    margin-bottom:50px;
  }