<div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Trabalho</h1>
      </md-toolbar>
      <md-list>
        <md-list-item ng-click="navigateTo('#!/clientes')">
          <p>Cursos</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('/cadastrar')">
          <p>Cadastrar</p>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content flex id="content">
      <md-toolbar layout="row">
        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3 class="md-toolbar-tools">{{pageTitle}}</h3>
      </md-toolbar>
      <div ng-view></div>
    </md-content>
</div>