<md-dialog aria-label="Cadastro de Plano de Vôo" >
    <form ng-submit="SalvarPlanoDeVoo()">
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{tituloDialog}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="CloseDialog();">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Fechar cadastro"></md-icon>
            </md-button>
        </div>
        </md-toolbar>
    
        <md-dialog-content>
            <div class="md-dialog-content">
                
                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Número Vôo</label>
                        <input ng-model="frmPlanoDeVoo.numeroVoo" required placeholder="Digite o Número do Vôo">
                    </md-input-container>
                </div>
                
                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Origem</label>
                        <md-select ng-model="frmPlanoDeVoo.origemId">
                        <md-option><em>Selecione</em></md-option>
                        <md-option ng-repeat="aeroporto in listaAeroporto" ng-value="aeroporto.id">
                            {{aeroporto.sigla}} - {{aeroporto.nome}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Destino</label>
                        <md-select ng-model="frmPlanoDeVoo.destinoId">
                        <md-option><em>Selecione</em></md-option>
                        <md-option ng-repeat="aeroporto in listaAeroporto" ng-value="aeroporto.id">
                            {{aeroporto.sigla}} - {{aeroporto.nome}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Tipo da Aeronave</label>
                        <md-select ng-model="frmPlanoDeVoo.tipoAeronaveId">
                        <md-option><em>Selecione</em></md-option>
                        <md-option ng-repeat="tipoAeronave in listaTipoAeronave" ng-value="tipoAeronave.id">
                            {{tipoAeronave.nome}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Matrícula Aeronave</label>
                        <md-select ng-model="frmPlanoDeVoo.matriculaAeronaveId">
                        <md-option><em>Selecione</em></md-option>
                        <md-option ng-repeat="matriculaAeronave in listaMatriculaAeronave" ng-value="matriculaAeronave.id">
                            {{matriculaAeronave.nome}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Data do Vôo</label>
                        <md-datepicker ng-model="frmPlanoDeVoo.dataVoo" filter="onlyWeekendsPredicate"></md-datepicker>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Horário do Vôo</label>
                        <input type="time" ng-model="frmPlanoDeVoo.horarioVoo" placeholder="HH:mm" />
                    </md-input-container>
                </div>
            
            </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            
            <span flex></span>
            <md-button type="submit">
                Salvar
            </md-button>
            <md-button ng-click="CloseDialog();">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>